<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="dev.tinelix.irc.android.legacy">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />

    <uses-sdk tools:overrideLibrary="com.seppius.i18n.plurals" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/short_app_name"
        android:supportsRtl="true"
        android:theme="@style/IRCClient"
        android:name=".IRCClientApp"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        android:installLocation="auto"
        android:hardwareAccelerated="true"
        tools:replace="android:label"
        tools:ignore="UnusedAttribute">
        
        <activity
                android:name=".core.activities.MainActivity"
                android:label="@string/short_app_name"
                android:exported="true"
                android:configChanges="locale|orientation">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />

                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
            </activity>
        
        <activity android:name=".core.activities.CustomNicknamesActivity"
            android:label="@string/nicknames_manager_title">
        </activity>
        
        <activity android:name=".core.activities.AboutApplicationActivity"
            android:label="@string/about_application_str">
        </activity>
        
        <activity android:name=".core.activities.MainSettingsActivity"
            android:label="@string/settings_title"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|mcc|mnc|uiMode">
        </activity>
        
    </application>
</manifest>
